*.class
*.log
spending_app_scala/target
spending_app_scala/bin/
spending_app_scala/db
spending_app_scala.eclipse
spending_app_scala/lib/
spending_app_scala/logs/
spending_app_scala/modules
spending_app_scala/project/project
spending_app_scala/project/target
spending_app_scala/target
spending_app_scala/tmp/
spending_app_scala/test-result
spending_app_scalaserver.pid
spending_app_scala*.eml
spending_app_scala/dist/
spending_app_scala.cache
