@import services.DateTimeFormatter
@import views.html.helper.CSRF
@import views.html.helper.form
@import models.Expense
@(categories: List[(Category, Seq[Category])], expenses: Seq[Expense])(themeColor: ThemeColor)(implicit request: RequestHeader)


<!doctype html>
<html lang="en">
    @head(List("Toast.min",
        "style").map(x => routes.Assets.versioned(s"stylesheets/${x}.css")),
        List("Toast.min",
            "chart_history").map(x => routes.Assets.versioned(s"javascripts/${x}.js")),
        "Expenses history")(themeColor){ }
        <body>

            <form id="CSRF">
            @helper.CSRF.formField
            </form>

            <div class="powrot-strzaleczka">
                <a id="strzaleczka" href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
            </div>

            <div class="">
                <div class="element-blue grid-2-wrapper">
                    <div>
                        <div>
                            <label style="display: block;font-size: 22px;" for="datepicker">Choose start and end date</label>
                            <input type="text" name="basic" id="datepicker" value="01/01/2022 - 07/27/2022">
                        </div>

                        <div>
                            <input type="checkbox" id="showDeleted">
                            <label for="showDeleted" style="font-size: 22px;">Show deleted?</label>
                        </div>
                    </div>

                    <div class="categories-wrapper">
                        <p>Category of expense</p>
                        <input style="display: none;" id="category_id_input" type="text" name="category" placeholder="Name of expense" value="-1">
                        <div class="categories-wrapper" style="width: 225px; font-size: 22px;">
                            <select id="select-category" style="width: 100%">
                                <option value="-1">All categories</option>
                                @for((x,y) <- categories){
                                    <option value="@{x.id}">@{x.name}</option>
                                }
                            </select>
                            <div style="margin-top: 10px;width: 100%">
                            @for((x,y) <- categories){
                                <select id="select-@{x.id}" class="sub-category-select" style="width: 100%;">
                                    <option value="@{x.id}">All subcategories</option>
                                    @for(z <- y){
                                        <option value="@{z.id}">@{z.name}</option>
                                    }
                                </select>
                            }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid-2-wrapper">
                <div style="height: 700px; width: 700px; margin-inline: auto;">
                    <p class="text-center"><b>Expenses in time</b></p>
                    <canvas id="first_chart" width="400" height="400" style="background: white;" ></canvas>
                </div>
                <div style="height: 700px; width: 700px; margin-inline: auto; ">
                    <p class="text-center"><b>Sum of expenses per category</b></p>
                    <canvas id="second_chart" width="400" height="400" style="background: white;" ></canvas>
                </div>
            </div>
    </body>
</html>
