<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="nav-wrapper">
        <div class="left-date shadow">
            <p>20.03.2022</p>
        </div>

        <div class="center-hello element-blue">
            <h1>
                Hello, Łukasz!
            </h1>
        </div>

        <div class="right-li">
            <ul>
                <li class="element-blue"><a>Log out</a></li>
                <li class="element-blue"><a>Change color</a></li>
            </ul>
        </div>
    </div>

    <div class="grid-3w">
        <div class="element-blue text-center summary-div">
            <p>Month Limit:</p>
            <p><b>1000 zł</b></p>
            <p>Expenses:</p>
            <p><b>999 zł</b></p>
        </div>
        <div>
            <div class="img-wrapper">
                <img class="logo_200" src="http://placekitten.com/200/200">
            </div>
            <div class="li_main_wrapper">
                <li class="li_main">
                    <ul class="ul_main"><a>Add new expense</a></ul>
                    <ul class="ul_main"><a>Show expenses on chart</a></ul>
                    <ul class="ul_main"><a>Compare expenses</a></ul>
                    <ul class="ul_main"><a>Check expense history</a></ul>
                    <ul class="ul_main"><a>Suprise :)</a></ul>
                </li>
            </div>
        </div>
    </div>
    
</body>
</html>
