@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import java.time.LocalDateTime
@import java.time.format.DateTimeFormatter
@(data: LocalDateTime, limits: Tuple2[Double,Double], userName: String, user_color: ThemeColor)

<!DOCTYPE html>
<html lang="en">
    @head(
        List(routes.Assets.versioned("stylesheets/style.css")),
        List(routes.Assets.versioned("javascripts/Toast.min.js"),routes.Assets.versioned("javascripts/index.js")),
        "Main page")(user_color){ }
    <body>
        <div class="nav-wrapper">
            <div class="left-date shadow">
                <p>@{
                    // Custom format if needed
                    val formatter = DateTimeFormatter.ofPattern("yyyy-MM-dd")

                    // Format LocalDateTime
                    data.format(formatter);
                }</p>
            </div>

            <div class="center-hello element-blue">
                <h1>
                    Hello, @userName !
                </h1>
            </div>

            <div class="right-li">
                <ul>
                    <li class="element-blue"><button id="log-out" class="right-elem">Log out</button></li>
                    <li class="element-blue"><button id="user-config">Settings</button></li>
                </ul>
            </div>
        </div>

        <div class="grid-3w">
            <div class="element-blue text-center summary-div">
                <p>Month Limit:</p>
                <p><b>@limits._1 zł</b></p>
                <p>Expenses:</p>
                <p><b>@limits._2 zł</b></p>
            </div>
            <div>
                <div class="img-wrapper">
                    <img alt="no photo :(" class="logo_200" src="http://placekitten.com/200/200">
                </div>
                <div class="li_main_wrapper">
                    <li class="li_main">
                        <ul class="ul_main"><button id="add-new-expense-bt">Add new expense</button></ul>
                        <ul class="ul_main"><button id="expense-history-chart-bt">Show expenses on chart</button></ul>
                        <ul class="ul_main"><button id="compare-expense-table-chart-bt">Compare expenses</button></ul>
                        <ul class="ul_main"><button id="expense-history-table-bt">Check expense history</button></ul>
                        <ul class="ul_main"><button id="surprise-btn">Surprise :)</button></ul>
                    </li>
                </div>
            </div>
        </div>

    </body>
</html>
