@import helper._
@(userForm: Form[UserData])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/loginStyle.css")">
    <title>Document</title>
</head>
<body>

    <div class="nav-wrapper">
        <div class="login-background element-gradient">
            <form >  
                <div class="container" >   
                    <img src="@routes.Assets.versioned("images/dollar.png")" class="center"/>
                  
                    <input type="text"  placeholder="Username" name="username" required>  
                   
                    <input type="password" placeholder="Password" name="password" required>  
                    <button class="login-button">Login<i class="fa-solid fa-arrow-right-to-bracket"></i></button>    
                </div>   
            </form>     
        </div>
        <div>
            @helper.form(action = routes.LoginController.post_login_page) {
                @helper.CSRF.formField
                @helper.inputText(userForm("email"))
                @helper.inputText(userForm("password"))
                <input type="submit" value="Submit">
            }
        </div>
    </div>
    
    
</body>
</html>
