@(userForm: Form[UserData])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="en">
    @head(List(routes.Assets.versioned("stylesheets/Toast.min.css"), routes.Assets.versioned("stylesheets/style.css")),
          List(routes.Assets.versioned("javascripts/Toast.min.js"), routes.Assets.versioned("javascripts/loginJS.js")),
          "Login page")(ThemeColor.default){ }
<body>

    <div class="nav-wrapper-login">
        <div class="login-background element-gradient">
            @helper.form(action = routes.LoginController.post_login_page) {
                <img src="@routes.Assets.versioned("images/dollar.png")" class="center-img"/>
                @helper.CSRF.formField
                @helper.inputText(userForm("email"), Symbol("class") -> "login-input", Symbol("placeholder") -> "Email", Symbol("id") -> "email", Symbol("name") -> "email")
                @helper.inputText(userForm("password"), Symbol("class") -> "login-input", Symbol("placeholder") -> "Password", Symbol("id") -> "password", Symbol("name") -> "password", Symbol("type") -> "password")
                <button class="login-button">Login<i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            }
        </div>
    </div>
</body>
</html>
