@import play.api.data.Form
@(budgetForm: Form[SingleAmount],colors: Seq[ThemeColor], user_id: Option[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@*, incomeForm: Form[IncomeForm])*@

<!DOCTYPE html>
<html lang="pl">
    @head(List("Toast.min", "style", "dialog").map(x => routes.Assets.versioned(s"stylesheets/${x}.css")),
          List("jquery-3.6.0.min", "Toast.min", "micromodal.min", "user_config").map(x => routes.Assets.versioned(s"javascripts/${x}.js")), "User Configuration"){ }
<body>

    <div class="powrot-strzaleczka">
        <a id="strzaleczka" href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>

    <div class="nav-wrapper-user-config">
        <div class="user-config-bg element-gradient user-config-wrapper">
            <div class="flex-row">
                <p><b>Curent budget:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @{budgetForm.get.amount}</p>
                <button class="login-button change-button" data-micromodal-trigger="modal-1">Change</button>
            </div>
            <div class="flex-row">
                <p><b>User theme: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> Orange</p>
                <button class="login-button change-button" data-micromodal-trigger="modal-2">Change</button>
            </div>
        </div>
    </div>


    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        Budget
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-1-content" id="budget-form-wrapper">
                @helper.form(action = routes.UserConfigController.submit_budget(None)){
                    @helper.CSRF.formField
                    <p>New value</p>
                    @helper.inputText(budgetForm("amount"), Array("class" -> "modal__text", "placeholder" -> "1000.00", "id" -> "amount", "name" -> "amount", "min" -> "1", "step" -> "0.01", "type" -> "number").map(x => {Symbol(x._1) -> x._2}) :  _*)
                    <button class="modal__btn modal__btn-primary">Submit change</button>
                }
                </main>
                <footer class="modal__footer">
                    <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Cancel</button>
                </footer>
            </div>
        </div>
    </div>

    <div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-2-title">
                        Theme
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-2-content" id="budget-form-wrapper">
                    @helper.form(action = routes.UserConfigController.change_color(None)){
                        @helper.CSRF.formField
                        <p>Choose your color</p>
                        @for(i <- colors){
                            <button class="modal__btn color__btn width_default">@i.name</button>
                        }
                    }
                </main>
            </div>
        </div>
    </div>

</body>
</html>
