body {
    font-family: 'Outfit', sans-serif;
    background-color: #FFBA5B;
}

* {
    font-size: 22px;
}

.nav-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;

}

.shadow {
    -webkit-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
}

.center-hello {
    text-align: center;
}

.login-background {
    align-self: center;
    display: flex;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    height: 450px;
    padding: 100px;
}

.element-gradient{
    border: 10px solid aliceblue;
    padding: 10px;
    background-image: linear-gradient(#c1cccc,#7C9ECA, #5184c7);
}

.login-button{
    border: 1px solid #757575;
    background-color: #ff9100;
    color: #ffffff;
    padding: 20px;
    /* font-size: 14px; */
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.element-blue {
    border: 3px solid aliceblue;
    padding: 5px;
    background-color: #7C9ECA;
}

.container {   
    margin-top: 10px;
}   

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 20px 0;  
    padding: 15px 20px;   
    display: inline-block;      
    box-sizing: border-box;   
    
}
dl {
    margin: 0;
}
dd {
    margin-inline-start: 0;
}
::placeholder {
    color: rgb(88, 87, 87);
    font-size: 22px;
    font-weight: bold;
  }

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
  }

dt {
    display: none;
}

dd.info {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

button:hover {
    background-color: #FFCD91;
}