
body {
    font-family: 'Outfit', sans-serif;
    background-color: #FFBA5B;
}

.nav-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    /* padding: 50px; */
    /* margin-right: 30px;
    margin-left: 30px;  */
}

.shadow {
    -webkit-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
}

p, li, ul {
    font-size: 22px;
}

.left-date {
    display: flex;
    background-color: aliceblue;
    margin: 0;
    margin-right: 3rem;
    margin-left: 1rem;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 4rem;
}
.left-date p {
    font-size: 22px;
    text-align: center;
}

.right-li {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.right-li > ul {
    align-self: flex-end;
    list-style: none;
    text-align: left;
    width: 150px;
    padding: 0;
}
/* .right-li > ul > li {
    border: 3px solid aliceblue;
    padding: 5px;
} */
.center-hello {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.element-blue {
    border: 3px solid aliceblue;
    padding: 5px;
    background-color: #7C9ECA;
}

.grid-3w {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
}

.text-center {
    text-align: center;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_200 {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.li_main_wrapper {
    margin-top: 20px;
}

.li_main {
    list-style: none;
    background-color: aliceblue;
    padding: 5px;
    /* padding-bottom: 5px; */
}

.ul_main {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
    margin-top : 10px;
    text-align: center;
}

.li_main .ul_main:hover {
    background-color: #7C9ECA;
}

.li_main .ul_main:nth-child(1){
    margin-top: 5px;
}

.li_main .ul_main:last-child{
    margin-bottom: 5px;
}


.summary-div {
    height: 11rem;
}

.summary-div p {
    margin-top: 5px;
    margin-bottom: 5px;
}