
/** {*/
/*    font-size: 22px;*/
/*}*/
body {
    font-family: 'Outfit', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-1)), to(var(--gradient-2))) fixed;
}

.nav-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    /* padding: 50px; */
    /* margin-right: 30px;
    margin-left: 30px;  */
}

.shadow {
    -webkit-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
    box-shadow: 9px 6px 17px -13px rgba(66, 68, 90, 1);
}

p, li, ul, button, input{
    font-size: 22px;
}

.left-date {
    display: flex;
    background-color: aliceblue;
    margin: 0;
    margin-right: 3rem;
    margin-left: 1rem;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 4rem;
}
.left-date p {
    font-size: 22px;
    text-align: center;
}

.right-li {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.right-li > ul {
    align-self: flex-end;
    list-style: none;
    text-align: left;
    width: 150px;
    padding: 0;
}
/* .right-li > ul > li {
    border: 3px solid aliceblue;
    padding: 5px;
} */
.center-hello {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.element-blue {
    border: 3px solid aliceblue;
    padding: 5px;
    background-color: #7C9ECA;
}

.grid-3w {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
}

.text-center {
    text-align: center;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_200 {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.li_main_wrapper {
    margin-top: 20px;
}

.li_main {
    list-style: none;
    background-color: aliceblue;
    padding: 5px;
    /* padding-bottom: 5px; */
}

.ul_main {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
    margin-top : 10px;
    text-align: center;
}

.li_main .ul_main:hover {
    /*background-color: #7C9ECA;*/
}

.li_main .ul_main:nth-child(1){
    margin-top: 5px;
}

.li_main .ul_main:last-child{
    margin-bottom: 5px;
}


.summary-div {
    height: 11rem;
}

.summary-div p {
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 0;
    height: 100%;
    outline: none;
    border: 0;
    background: none;
    -webkit-appearance: none;
}

button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.nav-wrapper-login{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-wrapper-user-config {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-background {
    align-self: center;
    display: grid;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    height: 450px;
    padding: 100px;
}

.user-config-bg {
    align-self: center;
    width: 70%;
    padding: 50px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.element-gradient{
    border: 10px solid aliceblue;
    padding: 10px;
    background-image: linear-gradient(#c1cccc,#7C9ECA, #5184c7);
}

.login-button{
    border: 1px solid #757575;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px;
    /* font-size: 14px; */
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.element-blue {
    border: 3px solid aliceblue;
    padding: 5px;
    background-color: #7C9ECA;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 20px 0;
    padding: 15px 50px;
    display: inline-block;
    box-sizing: border-box;

}

.login-background dl {
    margin: 0;
}

.login-background dd {
    margin-inline-start: 0;
}

.login-background dd.error {
    display: none;
}

::placeholder {
    color: rgb(88, 87, 87);
    font-size: 22px;
    font-weight: bold;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
}

.login-background dt {
    display: none;
}

dd.info {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.dialog-closed {
    display: none;
}
.dialog-open {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row .change-button {
    width: 100px;
    margin: 0px;
}

main .color__btn {
    margin: 10px;
}

.powrot-strzaleczka {
    font-size: 6rem;
    color: white;
}

#strzaleczka {
    text-decoration: none;
    color: inherit;
}

.user-config-wrapper {
    width: 650px;
}

.width_default {
    width: auto;
}
.hidden {
    display: none;
}